*{
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --c1: #604CC3;
    --c2: #80C4E9;
    --c3: #FFF6E9;
    --c4: #ff7f3e;
    --aw: #fff;
    --ab: #000;
}

header{
    background-color: var(--c3);
}

#logo{
    height: 100px;
}

.navegacao{
    margin: 0 100px;
}

.clube, .clube a{
    background-color: var(--c4);
    padding: 10px;
    border-radius: 15px;
    color: var(--aw);
}

header ul{
    justify-content: space-between;
    align-items: center;
}

header ul li{
    list-style: none;
    margin: 0 20px;
}

.navbar-toggler{
    position: absolute;
    right: 20px;
}

header ul li a{
    text-decoration: none;
    color: var(--ab);
}

header ul li:hover, header ul li a:hover{
    text-decoration: underline;
}

#navBg{
    background-color: var(--c3);
}

#img{
    object-fit: contain;
    height: 80vh;
}

#carousel{
    background-color: var(--c1);
}

#titulo{
    padding: 20px 0;
}

#cardDiv{
    margin: 10px 0;
}

#cardDiv h2{
    text-align: center;
}

#card{
    height: 300px;
    padding: 5px 5px;
}

main{
    background-color: var(--c3);
}

#loja{
    margin: 20px 0px;
}

#cardLoja{
    height: 700px;
    overflow: auto;
}

#linkDiv{
    margin: 10px 0;
    background-color: var(--c4);
    padding: 10px 20px;
    border-radius: 35px;
    border: none;
}

#linkCard{
    color: var(--aw);
    text-decoration: none;
}

#imgFooter{
    min-width: 50px;
    max-width: 50px;
}

#footerDiv{
    padding: 20px 0;
    background-color: var(--c1);
}

#footerText{
    color: var(--aw)
}

.input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-number {
    -moz-appearance: textfield;
}

#divForm{
    margin: 10px 0;
}

#formContato{
    background-color: var(--c2);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--ab);
    margin: 10px 0;
}

#formButton{
    padding: 5px 20px;
    border: 2px solid var(--ab);
    border-radius: 10px;
    background-color: var(--c4);
    color: var(--aw);

}

#textoContato, #divContato{
    margin: 20px 0;
}